<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>购物车</title>
		<link rel="stylesheet" href="http://www.itheima331.com:8020/web/resources/css/bootstrap.min.css" type="text/css" />
		<script src="http://www.itheima331.com:8020/web/resources/js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="http://www.itheima331.com:8020/web/resources/js/bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://www.itheima331.com:8020/web/resources/js/jquery-heima-0.0.1.js" ></script>
		<script type="text/javascript" src="http://www.itheima331.com:8020/web/resources/js/heima-include.js" ></script>
		<!-- 引入自定义css文件 style.css -->
		<style>
		</style>
		
		<script type="text/javascript">
			//页面加载完成后发出请求获取购物车
			$(function(){
				HM.ajax("/Cart","method=cartList",function(data){
					var s = "";
					$.each(data.obj.cartItem,function(index,ele){
						str = "<tr class=\"active\">\n" +
							"\t\t\t\t\t\t\t\t\t<td width=\"60\" width=\"40%\">\n" +
							"\t\t\t\t\t\t\t\t\t\t<input type=\"hidden\" name=\"id\" value=\"22\">\n" +
							"\t\t\t\t\t\t\t\t\t\t<img src=\"http://www.itheima331.com:8020/web/resources/"+ele.product.pimage+"\" width=\"70\" height=\"60\">\n" +
							"\t\t\t\t\t\t\t\t\t</td>\n" +
							"\t\t\t\t\t\t\t\t\t<td width=\"30%\">\n" +
							"\t\t\t\t\t\t\t\t\t\t<a href=\"http://www.itheima331.com:8020/web/view/product/info.html?pid="+ele.product.pid+"\"> "+ele.product.pname+"</a>\n" +
							"\t\t\t\t\t\t\t\t\t</td>\n" +
							"\t\t\t\t\t\t\t\t\t<td width=\"20%\">\n" +
							"\t\t\t\t\t\t\t\t\t\t￥"+ele.product.shop_price+"\n" +
							"\t\t\t\t\t\t\t\t\t</td>\n" +
							"\t\t\t\t\t\t\t\t\t<td width=\"10%\">\n" +
							"\t\t\t\t\t\t\t\t\t\t"+ele.count+"\n" +
							"\t\t\t\t\t\t\t\t\t</td>\n" +
							"\t\t\t\t\t\t\t\t\t<td width=\"15%\">\n" +
							"\t\t\t\t\t\t\t\t\t\t<span class=\"subtotal\">￥"+ele.subtotal+"</span>\n" +
							"\t\t\t\t\t\t\t\t\t</td>\n" +
							"\t\t\t\t\t\t\t\t\t<td>\n" +
							"\t\t\t\t\t\t\t\t\t\t<a onclick=\"removeCartItem('"+ele.product.pid+"')\" href=\"javascript:;\" class=\"delete\">删除</a>\n" +
							"\t\t\t\t\t\t\t\t\t</td>\n" +
							"\t\t\t\t\t\t\t\t</tr>";
						$("#cartlist").append(str);
						
					});
					$("#totalprice").html(data.obj.totalprice);
				
				
				})
			});
			
			function removeCartItem(pid){
				//移除购物项
				var param = "pid="+pid;
				if(confirm("确认移除此商品吗?")){
					HM.ajax("/Cart?method=removeCartItem",param,function(data){
						if(data.code==1){
							//操作成功，重新加载页面
							location.reload();
						}
					})
				}
				
			}
			
			function clearCartItem(){
				//清空购物车
				if(confirm("确认清空购物车吗?")){
					HM.ajax("/Cart?method=clearCartItem","",function(data){
						if(data.code==1){
							//操作成功，重新加载页面
							location.reload();
						}
					})
				}
			}
		</script>
	</head>

	<body>
		<div class="container-fluid"  >
			<!--头部-->
			<div id="header" style="min-height: 130px;"></div>	
			<div class="container" style="min-height: 441px;">
				<div class="row">
					<div style="margin:0 auto; margin-top:10px;width:950px;">
						<strong style="font-size:16px;margin:5px 0;">购物车详情</strong>
						<table class="table table-bordered">
							<tbody id="cartlist">
								<tr class="warning">
									<th>图片</th>
									<th>商品</th>
									<th>价格</th>
									<th>数量</th>
									<th>小计</th>
									<th>操作</th>
								</tr>
								<!-- <tr class="active">
									<td width="60" width="40%">
										<input type="hidden" name="id" value="22">
										<img src="http://www.itheima331.com:8020/web/resources/products/1/donggua1.jpg" width="70" height="60">
									</td>
									<td width="30%">
										<a target="_blank"> 有机蔬菜      大冬瓜...</a>
									</td>
									<td width="20%">
										￥298.00
									</td>
									<td width="10%">
										2
									</td>
									<td width="15%">
										<span class="subtotal">￥596.00</span>
									</td>
									<td>
										<a href="javascript:;" class="delete">删除</a>
									</td>
								</tr> -->
								
							</tbody>
						</table>
					</div>
				</div>
	
				<div style="margin-right:130px;">
					<div style="text-align:right;">
						商品金额: <strong style="color:#ff6600;">￥<span id="totalprice"></span>元</strong>
					</div>
					<div style="text-align:right;margin-top:10px;margin-bottom:10px;">
						<a href="javascript:;" id="clear" class="clear" onclick="clearCartItem()">清空购物车</a>
						<a href="order_info.htm">
							<input type="submit" width="100" value="提交订单" id="submit" border="0" style="background-color:#CD062D;height:35px;width:100px;color:white;">
						</a>
					</div>
				</div>
			</div>
			<!--尾部-->
			<div id="footer"  style="min-height: 203px;"></div>
		</div>
	</body>
</html>